*{
    margin: 0;
    padding: 0;
}

body {
    
    background: linear-gradient(90deg, rgb(43, 201, 130) 0%, rgb(4, 54, 65) 100%);
    font-family:'Times New Roman', Times, serif;
}

header {
    padding: auto;
    margin-top: 3%;
    text-align: center;
    color: white;
    font-size: 25pt;
}

#board {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 7%;
    display: flex;
    flex-wrap:wrap;
}

.cell {
    border: 2px solid white;
    width: 98px;
    height: 98px;
    line-height: 100px;
    text-align: center;
    font-size: 33pt;
    border-left: none;
    border-top: none;
    justify-content: center;
    color: white;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}
.cell:nth-child(n + 7) {
    border-bottom: none;
}

#gameStatusMensage {
    padding: auto;
    margin-top: 9%;
    text-align: center;
}

#status {
    font-size: 20pt;
    color: white;
}

button {
    padding: 6px;
    margin-top: 2%;
    background-color: rgba(43, 201, 130, 0.055);
    font-size: 10pt;
    color: white;
    border-radius: 18px;
    border-color: white;
}